profiles {
  standard {
    params {
      cmalign.cpus = 10

      containers { 
        plot = '' 
        analysis = ''
      }
    }
  }

  lsf {
    params {
      containers {
        plot = 'docker://bsweeneyebi/rfam-pfam-plot'
        analysis = 'docker://bsweeneyebi/rfam-pfam-analysis'
      }
    }

    process {
      executor = 'lsf'
      maxForks = 2000
      queue = 'short'
    }

    singularity {
      enabled = true
      cacheDir = "$baseDir/singularity"
    }

    executor {
      $lsf {
        queueSize = 10000
        submitRateLimit = '1sec'
      }
    }
  }
}

params {
  rfam {
    version = '14.9'
  }
  pfam {
    version = '35.0'
  }
}
