profiles {
  standard {
    params {
      containers { 
        plot = '' 
        analysis = ''
      }
      cmalign.maxForks = 100
    }
  }

  slurm {
    params {
      containers {
        plot = 'docker://bsweeneyebi/rfam-pfam-plot'
        analysis = 'docker://bsweeneyebi/rfam-pfam-analysis'
      }
      cmalign.maxForks = 2000
    }

    process {
      executor = 'slurm'
      maxForks = 2000
      queue = 'standard'
      time = '12h'
      memory = 1.GB
    }

    singularity {
      enabled = true
      cacheDir = "$baseDir/singularity"
    }

    executor {
      $slurm {
        queueSize = 10000
      }
    }
  }

  lsf {
    params {
      containers {
        plot = 'docker://bsweeneyebi/rfam-pfam-plot'
        analysis = 'docker://bsweeneyebi/rfam-pfam-analysis'
      }
      cmalign.maxForks = 20
    }

    process {
      executor = 'lsf'
      maxForks = 2000
      queue = 'short'
    }

    singularity {
      enabled = true
      cacheDir = "$baseDir/singularity"
    }

    executor {
      $lsf {
        queueSize = 10000
        submitRateLimit = '1sec'
      }
    }
  }
}

params {
  cmalign.cpus = 10

  rfam {
    version = '14.9'
  }
  pfam {
    version = '35.0'
  }
}
